# agenda

1.load data 
2.how many missing values
3.why data is missing
4.drop missing value
5.filling in missing values
6.sklearn imputer
7.clustering imputation

# load data

In [3]:
# modules
import numpy as np
import pandas as pd

#load data
nfl_data=pd.read_csv("C:\\Users\\cxz16\\kaggle 5-day challenge\\day1data\\NFL Play by Play 2009-2017 (v4).csv")
sf_permits=pd.read_csv("C:\\Users\\cxz16\\kaggle 5-day challenge\\day1data\\Building_Permits.csv")

#set seed
np.random.seed(0)

C:\Users\cxz16\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\cxz16\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
nfl_data.sample(5)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
244485,2014-10-26,2014102607,18,3,1.0,00:39,1,939.0,12.0,TB,...,1.240299,0.225647,0.774353,0.245582,0.754418,0.225647,0.019935,-0.018156,0.038091,2014
115340,2011-11-20,2011112000,22,4,1.0,06:47,7,407.0,44.0,OAK,...,NaN,0.056036,0.943964,0.042963,0.957037,0.943964,0.013073,NaN,NaN,2011
68357,2010-11-14,2010111401,8,2,NaN,00:23,1,1823.0,0.0,CLE,...,NaN,0.365307,0.634693,0.384697,0.615303,0.634693,-0.019390,NaN,NaN,2010
368377,2017-09-24,2017092405,24,4,1.0,08:48,9,528.0,8.0,CLE,...,1.075660,0.935995,0.064005,0.921231,0.078769,0.064005,0.014764,0.003866,0.010899,2017
384684,2017-11-05,2017110505,11,2,1.0,09:15,10,2355.0,0.0,DEN,...,NaN,0.928474,0.071526,0.934641,0.065359,0.071526,-0.006166,NaN,NaN,2017

In [5]:
sf_permits.sample(5)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
78651,201503120624,8,otc alterations permit,03/12/2015,4273,029,2986,NaN,26th,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Mission,94110.0,"(37.74972976527956, -122.40963202424835)",1374057173006
177779,201707071220,8,otc alterations permit,07/07/2017,0453,004A,950,NaN,Bay,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Russian Hill,94109.0,"(37.80472551510833, -122.42280760820965)",1469546420378
64978,M529127,8,otc alterations permit,10/21/2014,0478,011,1290,NaN,Chestnut,St,...,NaN,NaN,NaN,NaN,NaN,2.0,Russian Hill,94109.0,"(37.80244997614665, -122.42443255018165)",1359656465959
165958,201704073507,8,otc alterations permit,04/07/2017,6507,003A,1134,NaN,Noe,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Noe Valley,94114.0,"(37.750866393629146, -122.43209633372915)",1458922436280
147902,201701237639,8,otc alterations permit,01/23/2017,0623,001,1755,NaN,Van Ness,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Pacific Heights,94109.0,"(37.791925784456105, -122.42306858292103)",1450933235988

function used:
pd.read_csv()
df.sample()
np.random.seed()

# how many missing values?

In [6]:
#missing value frequency
nfl_missing_counts=nfl_data.isnull().sum()
nfl_missing_counts[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [7]:
#missing value percentage
num_of_column=nfl_data.shape[0] #count() only count not missing value
nfl_percent=nfl_data.isnull().sum()/num_of_column
nfl_percent.sort_values(ascending=False)

DefTwoPoint                    0.999941
BlockingPlayer                 0.999713
TwoPointConv                   0.998516
ChalReplayResult               0.991655
RecFumbTeam                    0.989274
RecFumbPlayer                  0.989274
Interceptor                    0.988913
FieldGoalDistance              0.978052
FieldGoalResult                0.977780
ExPointResult                  0.975202
PenaltyType                    0.959707
ReturnResult                   0.955265
PuntResult                     0.945127
Returner                       0.937933
PenalizedPlayer                0.930621
PenalizedTeam                  0.927643
Tackler2                       0.878007
RunGap                         0.785552
RunLocation                    0.706859
Rusher                         0.704274
yacWPA                         0.610177
airWPA                         0.609537
yacEPA                         0.609530
airEPA                         0.609275
Receiver                       0.603714
PassLength                     0.589961
PassLocation                   0.589961
Passer                         0.588796
PassOutcome                    0.587474
Tackler1                       0.407503
                                 ...
Onsidekick                     0.000000
Season                         0.000000
PlayType                       0.000000
Passer_ID                      0.000000
TwoPoint_Prob                  0.000000
ExPoint_Prob                   0.000000
AwayTimeouts_Remaining_Post    0.000000
HomeTimeouts_Remaining_Post    0.000000
AwayTimeouts_Remaining_Pre     0.000000
HomeTimeouts_Remaining_Pre     0.000000
posteam_timeouts_pre           0.000000
Timeout_Team                   0.000000
Timeout_Indicator              0.000000
AwayTeam                       0.000000
HomeTeam                       0.000000
Penalty.Yards                  0.000000
Accepted.Penalty               0.000000
Challenge.Replay               0.000000
Sack                           0.000000
Fumble                         0.000000
Reception                      0.000000
Receiver_ID                    0.000000
RushAttempt                    0.000000
Rusher_ID                      0.000000
InterceptionThrown             0.000000
QBHit                          0.000000
YardsAfterCatch                0.000000
AirYards                       0.000000
PassAttempt                    0.000000
Date                           0.000000
Length: 102, dtype: float64

In [8]:
#overall percentage
total_cells=np.product(nfl_data.shape)
total_missing_cells=nfl_data.isnull().sum().sum()
total_missing_cells/total_cells*100

24.87214126835169

function used
isnull()
np.product() #caculate 2*3=6
df.shape #get how many columns and how many rows

# why data is missing

two reasons:
1. they are not recorded 
delete or impute
2. they don't exist, eg. your kid's age, if no kids, age is missing
(impute with 'doesn't exist' or just use NA)

# drop missing values

In [9]:
#first try drop rows with any na
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [10]:
#second try drop columns with any na
nfl_data.dropna(axis=1).head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009

In [11]:
print("after deleting missing value cols,we have %d cols" % nfl_data.dropna(axis=1).shape[1])

after deleting missing value cols,we have 41 cols

function used
dropna() #axis=1 drop columns
print(%d)

# fill in missing values

In [12]:
subset_nfl_data=nfl_data.loc[:,'EPA':'Season'].head()
subset_nfl_data

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [13]:
# fill all na with 0
subset_nfl_data.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

In [14]:
#fill all na use the value comes directly after it (before it use 'ffill')
#then if still missing, fill with 0
#usually used in data with order, like time series
subset_nfl_data.fillna(method='bfill',axis=0).fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

function used
fillna(method='bfill'/'ffill'/None,axis=0)

# sklearn imputation

try different imputation method,
try a model to find out which method has lowest MAD

In [15]:
subset=nfl_data.loc[:,'SideofField':'PlayType']
subset.isnull().sum()

SideofField         528
yrdln               840
yrdline100          840
ydstogo               0
ydsnet                0
GoalToGo            840
FirstDown         28811
posteam           24992
DefensiveTeam     24992
desc                  2
PlayAttempted         0
Yards.Gained          0
sp                    0
Touchdown             0
ExPointResult    397578
TwoPointConv     407083
DefTwoPoint      407664
Safety                0
Onsidekick            0
PuntResult       385317
PlayType              0
dtype: int64

In [16]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [34]:
#define to score MAD
def num_MAD(X_train,X_test,Y_train,Y_test):
    model=RandomForestRegressor()
    model.fit(X_train,Y_train)
    preds=model.predict(X_test)
    return mean_absolute_error(Y_test,preds)

In [18]:
#only impute numeric variables
num_subset=subset.select_dtypes(exclude=['object'])
nfl_data.EPA=nfl_data.EPA.fillna(0)
#divide training and test
X_train,X_test,Y_train,Y_test=train_test_split(num_subset,nfl_data.EPA, \
                                              train_size=0.7,test_size=0.3)

In [24]:
#what if drop all missing columns
col_missing=[col for col in X_train.columns if X_train[col].isnull().any()]
reduce_X_train=X_train.drop(col_missing,axis=1)
reduce_X_test=X_test.drop(col_missing,axis=1)

,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,Touchdown,Safety,Onsidekick
246532,0,4,1,0,0,0,0,0
102371,7,36,1,19,0,0,0,0
313392,7,30,1,0,0,0,0,0
115102,1,67,1,13,0,0,0,0
78474,10,74,1,14,0,0,0,0
123592,0,19,1,0,0,0,0,0
209927,0,7,1,0,0,0,0,1
207867,4,76,1,0,1,0,0,0
128040,0,37,1,0,0,0,0,0
52457,10,11,1,-1,0,0,0,0
190766,10,31,1,4,0,0,0,0
147446,9,7,1,6,0,0,0,0
341906,11,-7,1,-6,0,0,0,0
381416,10,17,1,2,0,0,0,0
99822,15,-11,1,-6,0,0,0,0
231774,4,15,1,9,0,0,0,0
56978,0,0,1,8,0,0,0,0
190567,12,47,1,0,0,0,0,0
143130,5,20,1,0,1,1,0,0
210479,10,24,1,24,0,0,0,0
274545,0,2,1,0,0,0,0,0
29652,10,11,1,0,0,0,0,0
102734,10,29,1,12,0,0,0,0
78809,10,71,1,8,0,0,0,0
174179,2,28,1,0,0,0,0,0
142911,5,70,1,0,1,0,0,0
13759,0,23,1,0,0,0,0,0
135474,10,20,1,20,0,0,0,0
188062,10,65,1,1,0,0,0,0
212827,10,7,1,7,0,0,0,0
...,...,...,...,...,...,...,...,...
167998,10,0,1,0,1,1,0,0
83174,10,17,1,-4,0,0,0,0
193892,10,16,1,3,0,0,0,0
253697,0,47,1,0,0,0,0,0
108978,0,16,1,0,0,0,0,0
134994,20,-3,1,7,0,0,0,0
161637,7,54,1,18,0,0,0,0
7486,0,0,1,39,0,0,0,0
47567,0,30,1,0,0,0,0,0
88123,6,78,1,4,0,0,0,0
227711,10,18,1,2,0,0,0,0
288494,10,5,1,5,0,0,0,0
241004,3,47,1,0,0,0,0,0
286642,1,11,1,2,0,0,0,0
128317,10,8,1,8,0,0,0,0
354180,0,48,1,0,0,0,0,0
180436,0,14,1,0,0,0,0,0
178660,10,2,1,2,0,0,0,0
302077,5,5,1,0,0,0,0,0
341279,1,36,1,-1,0,0,0,0
395407,10,37,1,9,0,0,0,0
359786,10,5,1,5,0,0,0,0
292154,3,48,1,7,0,0,0,0
309894,10,35,1,6,0,0,0,0
248166,0,15,1,0,0,0,0,0
220047,5,24,1,6,0,0,0,0
319334,13,32,1,0,0,0,0,0
69776,5,15,1,2,0,0,0,0
38875,12,16,1,0,0,0,0,0
76620,2,53,1,-13,0,0,0,0

In [46]:
MAD=num_MAD(reduce_X_train,reduce_X_test,Y_train,Y_test)
print("MAD when removing all missing columns is: %.10f" %MAD)

MAD when removing all missing columns is: 0.4950402616

In [36]:
#impute missing values
from sklearn.preprocessing import Imputer

In [39]:
my_imputer = Imputer() #default strategy is mean
imputed_X_train = my_imputer.fit_transform(X_train)
imputed_X_test = my_imputer.fit_transform(X_test)

In [45]:
MAD2=num_MAD(imputed_X_train,imputed_X_test,Y_train,Y_test)
print("MAD when imputing all missing columns is: %.10f" %MAD)

MAD when imputing all missing columns is: 0.4949259252

In [55]:
#label which is missing and also impute them
imputed_X_train_plus=X_train.copy()
imputed_X_test_plus=X_test.copy()
cols_with_missing = (col for col in X_train.columns 
                                 if X_train[col].isnull().any())
for col in cols_with_missing:
    imputed_X_train_plus[col + '_was_missing'] = imputed_X_train_plus[col].isnull()
    imputed_X_test_plus[col + '_was_missing'] = imputed_X_test_plus[col].isnull()
    
my_imputer = Imputer()
imputed_X_train_plus = my_imputer.fit_transform(imputed_X_train_plus)
imputed_X_test_plus = my_imputer.fit_transform(imputed_X_test_plus)

In [56]:
MAD3=num_MAD(imputed_X_train_plus,imputed_X_test_plus,Y_train,Y_test)
print("MAD when imputing all missing columns and showing which is imputed is: %.10f" %MAD)

MAD when imputing all missing columns and showing which is imputed is: 0.4950402616

# clustering imputation

In [57]:
subset=nfl_data.loc[:,'SideofField':'PlayType']
subset.isnull().sum()

SideofField         528
yrdln               840
yrdline100          840
ydstogo               0
ydsnet                0
GoalToGo            840
FirstDown         28811
posteam           24992
DefensiveTeam     24992
desc                  2
PlayAttempted         0
Yards.Gained          0
sp                    0
Touchdown             0
ExPointResult    397578
TwoPointConv     407083
DefTwoPoint      407664
Safety                0
Onsidekick            0
PuntResult       385317
PlayType              0
dtype: int64

In [58]:
#divide training and test
X_train,X_test,Y_train,Y_test=train_test_split(num_subset,nfl_data.EPA, \
                                              train_size=0.7,test_size=0.3)

In [74]:
X_train_no_missing=X_train.drop(col_missing,axis=1)

In [76]:
#cluster, use median for that cluster to replace the missing values
from sklearn.cluster import MiniBatchKMeans
kmeans=MiniBatchKMeans()
kmeans.fit(X_train_no_missing)
X_train['cluster']=kmeans.labels_
print(pd.Series(kmeans.labels_).value_counts())

3    102444
0     55005
4     46087
5     28874
7     22729
6     11240
1     10314
2      8688
dtype: int64

C:\Users\cxz16\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [77]:
X_train.head()

,yrdln,yrdline100,ydstogo,ydsnet,GoalToGo,FirstDown,PlayAttempted,Yards.Gained,sp,Touchdown,Safety,Onsidekick,cluster
123767,46.0,54.0,14,26,0.0,1.0,1,0,0,0,0,0,0
202805,10.0,10.0,10,86,1.0,0.0,1,10,1,1,0,0,5
308309,49.0,49.0,10,32,0.0,0.0,1,0,0,0,0,0,0
248836,32.0,32.0,0,8,0.0,0.0,1,0,0,0,0,0,3
231541,40.0,40.0,10,29,0.0,0.0,1,5,0,0,0,0,0

In [84]:
value_replace_missing=pd.DataFrame()
for i in col_missing:
    clean_df=X_train[['cluster',i]]
    value_replace_missing[i]=clean_df.groupby(["cluster"]).median()

In [96]:
for i in value_replace_missing.index:
    for col in col_missing:
        X_train.loc[(X_train['cluster']==i) & pd.isnull(X_train[col]),col]=value_replace_missing.loc[i,col]

C:\Users\cxz16\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [97]:
X_train.isnull().sum()

yrdln            0
yrdline100       0
ydstogo          0
ydsnet           0
GoalToGo         0
FirstDown        0
PlayAttempted    0
Yards.Gained     0
sp               0
Touchdown        0
Safety           0
Onsidekick       0
cluster          0
dtype: int64

Summary
what i do in handling missing values?
1.values they dont exist (not missing value),
  numeric: leave NaN
  categorica: label 'not exist'
2.try to delete
  for columns, if missing value percent is higher than 80%, delete the columns
  for rows, may be 90%
3.impute categorical
  try to find inference from other columns
  just label 'missing'
4.impute numeric
  4.1 use 0
  4.2 use mean,median (sklearn imputer)
  4.3 use backward, forward or both to impute (only use when sample is in order)
  4.4 both impute mean and label missing (sklearn imputer and label missing)
  4.5 cluster and use cluster mean
  4.6 consider missing value column as Y, predict it